.indicator-container {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-bottom: 0.4rem;
  align-items: center;
}

.event-indicator {
  background: var(--ion-color-success);
  margin-bottom: 5px;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  display: table-cell;
}
.with-event {
  background-color: transparent !important;
  border-radius: 15px;
}

:host ::ng-deep {
  .event-detail-container {
    display: none;
  }
  .monthview-container {
    height: auto !important;
  }
  .dayview-container {
    height: auto !important;
  }
  .weekview-container {
    height: auto !important;
  }
  .weekview-allday-table {
    display: none;
  }
  .dayview-allday-table {
    display: none;
  }
  .monthview-selected {
    background-color: transparent !important;
    outline: rgb(207, 97, 202) solid 2px !important;
    border-radius: 5px;
    div {
      color: black !important;
    }
  }
  .monthview-current {
    background-color: rgba(55, 76, 194, 0.397) !important;
    border-radius: 5px;
    div {
        color: white!important;
    //   background-color: black!important;
    //   color: white;
    //   border-radius: 30px;
    //   width: 30px;
    //   height: 30px;
    }
  }
  .monthview-datetable td,
  .monthview-datetable th {
    border: none !important;
    font-weight: bold;
  }
  .monthview-disabled{
    color: red!important;
  }
  .text-muted{
    color: gray!important
  }
  .weekModeHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}
