<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Calendar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-segment value="month">
      <ion-segment-button (click)="changeMode('month')" value="month">
        <ion-label>Month</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="changeMode('week')">
        <ion-label>Week</ion-label>
      </ion-segment-button>
      <!-- <ion-segment-button (click)="changeMode('day')">
        <ion-label>Day</ion-label>
      </ion-segment-button> -->
    </ion-segment>
  </ion-toolbar>
  <!-- <ion-row> -->
  <!-- <ion-col size="4">
      <ion-button (click)="createRandomEvents()" expand="block" fill="outline">
        Add random events
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button (click)="removeEvents()" expand="block" fill="outline">
        Remove all events
      </ion-button>
    </ion-col> -->
  <!-- <ion-col size="5">
      <ion-row>
        <ion-item
          ><ion-input
            placeholder="input year-month-date"
            [(ngModel)]="inputDate"
            #ctrl="ngModel"
            required
          >
          </ion-input>
          <ion-button (click)="submitDate()" expand="block" fill="outline">
            Go
          </ion-button>
        </ion-item>
      </ion-row>
    </ion-col>
  </ion-row> -->
  <ion-row>
    <ion-col size="2">
      <div>
        <ion-button fill="clear" slot="start" (click)="back()">
          <ion-icon name="arrow-back" slot="icon-only"> </ion-icon>
        </ion-button>
      </div>
    </ion-col>
    <ion-col class="ion-text-center" size="8">
      <ion-button class="open-input-date" fill="clear" (click)="openInputDateModal()" ><h2>{{viewTitle}}</h2></ion-button>
    </ion-col>
    <ion-col size="2" class="ion-text-end">
      <div>
        <ion-button fill="clear" slot="end" (click)="next()">
          <ion-icon name="arrow-forward" slot="icon-only"> </ion-icon>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
  <div (pan) = "handlePan($event)">
    <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    [startHour]="6"
    [endHour]="20"
    [step]="30"
    [startingDayWeek]="1"
    [monthviewDisplayEventTemplate]="template"
    [weekviewHeaderTemplate]="weekHeader"
    formatWeekViewDayHeader="d"
    [startingDayWeek]="1"
    [startingDayMonth]="1"
    (onDayHeaderSelected)="onDayHeaderSelected($event)"
    (onTitleChanged)="changeTitle($event)"
    (onTimeSelected)="onTimeSelected($event)"
  >
  </calendar>
  </div>
  <ion-item lines="none">
    <ion-text>lunar datetime</ion-text>
    <ion-icon slot="end" name="happy-outline"></ion-icon>
  </ion-item>
  <br />
  <ion-item *ngFor="let card of eventCards">
    <ion-row style="width: 100%; ">
      <ion-col size="3">
        <p style="font-weight: bold;vertical-align: top; margin: 0px!important;padding: 5px;">{{card.key}}:00</p>
      </ion-col>
      <ion-col size="auto">
        <ion-item lines="none" *ngFor="let event of card.list">
          <ion-col style="padding: 0px;"
            ><div
              [ngStyle]="{'background-color': event.colorCode}"
              class="eventcolor"
            ></div
          ></ion-col>
          <ion-col
            ><ion-label>
              <h2 style="font-weight: bold">{{event.title}}</h2>
              <p>
                {{event.startTime.getHours()}}:{{event.startTime.getMinutes()}}-{{event.endTime.getHours()}}:{{event.endTime.getMinutes()}}
              </p>
            </ion-label></ion-col
          >
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-item>

  <ng-template #template let-view="view" let-row="row" let-col="col">
    <div [class.with-event]="view.dates[row*7+col].events.length">
      <p
        *ngIf="view.dates[row*7+col].date.getDay() != 0 && view.dates[row*7+col].date.getDay() != 6"
      >
        {{view.dates[row*7+col].label}}
      </p>
      <p
        class="monthWeekend"
        *ngIf="view.dates[row*7+col].date.getDay() == 0 || view.dates[row*7+col].date.getDay() == 6"
      >
        {{view.dates[row*7+col].label}}
      </p>
      <div class="indicator-container">
        <div
          [ngStyle]="{'background-color': e.colorCode}"
          class="event-indicator"
          *ngFor="let e of view.dates[row*7+col].events.slice(0,5)"
        ></div>
      </div>
    </div>
  </ng-template>
  <ng-template #weekHeader let-viewDate="viewDate">
    <div
      [ngClass]="getHightlightClass(viewDate.date)"
      [class.with-event]="viewDate.events.length"
      tappable
      (click)="onTimeSelectWeekmode(viewDate.date)"
    >
      <div>{{viewDate.date.toLocaleString('vi-vi', {weekday: 'short'})}}</div>
      <div
        *ngIf="viewDate.date.getDay() !=6 && viewDate.date.getDay() !=0"
        class="custom-day-header"
      >
        {{ viewDate.dayHeader }}
      </div>
      <div
        *ngIf="viewDate.date.getDay() ==6 || viewDate.date.getDay() ==0"
        class="custom-day-header"
        style="color: red"
      >
        {{ viewDate.dayHeader }}
      </div>
      <div class="indicator-container">
        <div
          [ngStyle]="{'background-color': e.event.colorCode}"
          class="event-indicator"
          *ngFor="let e of viewDate.events.slice(0,5)"
        ></div>
      </div>
    </div>
  </ng-template>
</ion-content>
